transformers>=4.44
peft>=0.12
trl>=0.9
datasets>=2.20
accelerate>=0.33
bitsandbytes>=0.47
evaluate~=0.4.5
sacrebleu~=2.5.1
rouge-score~=0.1.2
scikit-learn~=1.7.1
lxml~=5.3.0
matplotlib~=3.10.0
huggingface_hub
tensorboard

yaml~=0.2.5
pyyaml~=6.0.2
typing~=3.10.0.0
psutil~=7.0.0